env: {}

name: CI
on:
  - pull_request
  - push
permissions:
  contents: read

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: package.json
          cache: npm
      - name: install
        run: npm ci
      - name: lint
        run: npm run lint
  Test:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
      # Run as root to fix permission issues with Github Actions workspace.
      # SYS_ADMIN is recommended for running Chrome in Docker.
      options: --user root --cap-add=SYS_ADMIN
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: package.json
          cache: npm
      - name: Install
        run: npm ci
      - name: Run unit tests
        run: npm run test
      - name: Run integration tests
        run: npm run test:e2e
